<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <title>403</title>
    <style>
        .error-403 {
            text-align: center;
        }
        input {
            border-style: none;
            background-color: #333333;
            color : white;
            text-align: center;
            padding: 14px 16px;
            border-radius: 12px;
        }
    </style>
</head>
<body style="background-color: wheat">

<div class="error-403">
    <H1>Данная функция вам недоступна</H1>
    <form th:method="GET" th:action="@{/main}">
        <input type="submit" value="Главная страница">
    </form>
</div>


</body>
</html>